
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(0deg,rgba(94, 171, 173, 1) 0%, rgba(196, 170, 112, 1) 100%);
  color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3 {
  color: #ffffff;
}

button {
  background-color: #333333;
  color: #f5f5f5;
  border: 1px solid #444444;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #444444;
}

