.board {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 2rem 1rem;
  border-radius: 8px;
  max-width: 1200px;
  min-width: 550px;
  width: 100%;
  margin: 2rem auto;
  box-sizing: border-box;
  min-height: 60vh;
}

.board__columns {
  display: flex;
  gap: 2rem;
  justify-content: flex-start;
  flex-wrap: wrap;
  overflow-x: auto;
}

@media (max-width: 999px) {
  .board__columns {
    flex-direction: column;
    gap: 1.5rem;
  }
  .board {
    padding: 1rem 0.5rem;
  }
}

.board__button {
  align-self: flex-start;
  background-color: #444;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}

.board__button:hover {
  background-color: #555;
}
