.column {
  background-color: #3c3c3c;
  padding: 20px;
  border-radius: 8px;
  flex: 1 1 300px;
  max-width: 300px; 
  min-width: 300px; 
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
  box-sizing: border-box;
}

.column__title {
  font-size: 1.2rem;
  margin-bottom: 30px;
  color: #fff;
  justify-self: center;
}

.column__tasks {
  display: flex;
  padding: 10px;
  flex-direction: column;
  gap: 10px;
  border-radius: 8px;
  overflow-y: auto;
  max-height: 400px;
  padding-right: 5px;
  margin: 0;
  padding: 0; 
}
