.task {
  background-color: #4c4c4c;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  min-height: 60px;
}

.task__name {
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;

}

.task__user {
  font-size: 0.9rem;
}

.task__actions {
  display: flex;
  gap: 5px;
}

.task__button {
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}

.task__button:disabled {
  color: #ffffff23;
  background-color: #66666625;
  cursor: auto;
}

.task__button--delete {
  background-color: #973838;
  color: #fff;
}

.task__button--delete:hover {
  background-color: #b94a4a;
}